.container {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 10px;
}

h1 {
  text-align: left;
  margin: 5px 20px 0px 0px;
  font-size: 75px;
}

h2 {
  text-align: left;
  margin: 5px;
  margin-top: 10px;
  font-size: 40px;
}

h3 {
  margin: 5px;
  font-size: 22px;
}

h4 {
  margin: 5px;
  margin-top: 10px;
  font-size: 14px;
}

p {
  margin: 0px 5px;
}


/*heading-wrapper*/
.heading-wrapper img{
  width: 100%;
}

.concept-txt {
  float: left;
  width: 60%;
  text-align: justify;
}

.concept-txt h1 {
  display: inline-block;
  width: auto;
}

.concept-txt h3 {
  display: inline-block;
  width: auto;
}

.basicInfo-txt {
  float: right;
  width: 25%;
}

.basicInfo-txt li {
  text-align: left;
  font-size: 10px;
  color: #a9a9a9;
  line-height: 130%;
}

.clear {
  clear: left;
}


/*intro-wrapper*/
.colum {
  width: 100%;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 0;/*要素同士をぴったりくっつけるための処理、不要な改行を消す*/
}


/*横にレイアウトする*/
.colum-row img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  width: 45%;
  min-width: 200px;
  max-width: 600px;
}

.colum-row .txt-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  min-width: 200px;
  max-width: 600px;
}


/*縦にレイアウトする*/
.colum-var-childe {
  display: inline-block;
  width: 25%;
  min-width: 120px;
  max-width: 600px;
  padding: 5px;
}

.colum-var img {
  width: 100%;
}

.colum-var .txt-wrapper {
  width: 100%;
}

/*縦コラムの数に応じて幅を変更*/
.childeNum-02 .colum-var-childe {
  width: 50%;
}

.childeNum-03 .colum-var-childe {
  width: 33.33%;
}

.childeNum-04 .colum-var-childe {
  width: 25%;
}

/*process-wrapper*/
.processes {
  width: 100%;
  font-size: 0;/*要素同士をぴったりくっつけるための処理、不要な改行を消す*/
  text-align: left;
}

.process {
  display: inline-block;
  background-color: #e6e6e6;
  padding: 10px;
  margin-bottom: 2vw;
  width: calc(50% - 1.0vw);
  position: relative;
}

.pcocess-size100 {
  width: 100%;
}

/*吹き出しデザイン*/
.rightarow {
  margin-right: 2.0vw;
}

.rightarow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #e6e6e6;
  border-width: 8vh 0 8vh 2vw;
  right: -1.9vw;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.downarow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #e6e6e6 transparent transparent transparent;
  border-width: 2vw 8vh 0 8vh;
  bottom: -1.9vw;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}

.steps {
  width: 100%;
}

.step {
  display: inline-block;
  width: 50%;
  padding: 5px 10px;
  vertical-align: top;
}

.step img {
  width: 100%;
}

.Img-wrapper {
  width: 100%;
}

.Img-wrapper img {
  width: 50%;
  padding-bottom: 5px;
  padding-right: 5px;
}

/*okkey限定*/
.steps-03 .step-01 {
  width: 30%;
}
.steps-03 .step-02{
  width: 30%;
}
.steps-03 .step-03{
  width: 40%;
}
