.container {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 10px;
}

h1 {
  text-align: left;
  margin: 3px 20px 0px 0px;
  font-size: 75px;
}

h2 {
  text-align: left;
  margin: 15px 3px 10px 3px;
  font-size: 40px;
}

h3 {
  margin: 15px 3px 10px 3px;
  font-size: 22px;
}

h4 {
  margin: 15px 3px 10px 3px;
  font-size: 14px;
}

p {
  margin: 0px 3px;
}

.fa {
  color: #2b2b2b;
}

.orange-color {
  color: #ec6800;
}

.red-color {
  color: #d9333f;
}

.blue-color {
  color: #0095d9;
}

/*header*/
header {
  margin-top: 5px;
  position: fixed;
  right: 0;
  padding: 10px;
}

header li {
  display: block;
  margin: 5px;
  text-align: left;
}


/*heading-wrapper*/
.heading-wrapper .mainImg {
  width: 100%;
  max-height: 96vh;
  overflow: hidden;
}

.heading-wrapper img{
  width: 100%;
}

.heading-wrapper .container {
  padding-top: 10px;
}

.concept-txt {
  float: left;
  width: 60%;
  text-align: justify;
}

.concept-txt h1 {
  display: inline-block;
  width: auto;
}

.concept-txt h3 {
  display: inline-block;
  width: auto;
}

.basicInfo-txt {
  float: right;
  width: 25%;
}

.basicInfo-txt li {
  text-align: left;
  font-size: 10px;
  color: #a9a9a9;
  line-height: 130%;
}

.clear {
  clear: left;
}


/*intro-wrapper*/
.colum {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 0;/*要素同士をぴったりくっつけるための処理、不要な改行を消す*/
}


/*横にレイアウトする*/
.colum-row img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  width: 45%;
  min-width: 200px;
  max-width: 600px;
}

.colum-row .txt-wrapper {
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  width: 45%;
  min-width: 200px;
  max-width: 600px;
}


/*縦にレイアウトする*/
.colum-var-childe {
  display: inline-block;
  width: 25%;
  min-width: 120px;
  max-width: 600px;
  padding: 5px 8px;
  vertical-align: top;
}

.colum-var img {
  width: 100%;
}

.colum-var .txt-wrapper {
  width: 100%;
}

/*縦コラムの数に応じて幅を変更*/
.childeNum-02 .colum-var-childe {
  width: 50%;
}

.childeNum-03 .colum-var-childe {
  width: 33.33%;
}

.childeNum-04 .colum-var-childe {
  width: 25%;
}

/*process-wrapper*/
.processes {
  width: 100%;
  font-size: 0;/*要素同士をぴったりくっつけるための処理、不要な改行を消す*/
  text-align: left;
}

.process {
  display: inline-block;
  background-color: #e6e6e6;
  padding: 10px;
  margin-bottom: 2vw;
  width: calc(50% - 1.01vw);
  position: relative;
}

.pcocess-size100 {
  width: 100%;
}

.process-var-wrapper {
  display: block;
  display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*吹き出しデザイン*/
.rightarow {
  margin-right: 2.0vw;
}

.rightarow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #e6e6e6;
  border-width: 5vh 0 5vh 2vw;
  right: -1.9vw;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.downarow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #e6e6e6 transparent transparent transparent;
  border-width: 2vw 5vh 0 5vh;
  bottom: -1.9vw;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}

.steps {
  width: 100%;
}

.step {
  display: inline-block;
  width: 50%;
  padding: 5px 10px;
  vertical-align: top;
}

.step img {
  width: 100%;
}

.Img-wrapper {
  width: 100%;
}

.Img-wrapper-Imglayout11 img {
  width: 100%;
  padding-bottom: 10px;
}

.Img-wrapper-Imglayout22 img {
  width: 50%;
  padding-bottom: 5px;
  padding-right: 5px;
}

.Img-wrapper-Imglayout31 img {
  width: 33.3%;
  padding-right: 5px;
  padding-bottom: 10px;
}

.Img-wrapper-Imglayout21 img {
  width: 50%;
  padding-right: 5px;
}

/*mywork-wrapper*/
.mywork-wrapper {
  font-size: 0;/*要素同士をぴったりくっつけるための処理、不要な改行を消す*/
}

.mywork {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 50%;
}

.mywork:first-child {
  padding-right: 20px;
}

.mywork:last-child {
  padding-left: 20px;
}

/*footer*/
footer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

footer .back-arow, footer .next-arow{
  position: fixed;
  bottom: 0;
  margin: 60px;
  padding: 10px;
}

footer .back-arow {
  left: 0;
}

footer .next-arow {
  right: 0;
}

footer .fa {
  cursor : pointer;
}

footer .fa:hover {
  opacity: 0.5;
}
